<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Gabriel Pillay - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Gabriel Pillay</h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/index.html'>About</a></li>
          <li><a href='/talks.html'>Talks</a></li>
          <li><a href='/institute.html'>Institute</a></li>
          <li><a href='/gallery.html'>Gallery</a></li>
          <li><a href='/comments.html'>Comments</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    </div>
  </body>
</html>
